$_selector: 'o-box';

@include exports($_selector) {
  @include add-dependencies(
    'u-align-left'
  );

  display: block;
  width: 100%;
}

/* OBJECT BOX > LIST DEPENDENCIES
///>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
*/
@import '../utilities/alignments';
/* OBJECT BOX > END LIST DEPENDENCIES
///<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
*/