$_selector: 'c-button';

@include exports($_selector) {
  .#{$_selector} {
    display: inline-block;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;

    @include exports('#{$_selector}--block') {
      &--block {
        display: block;
      }
    }
  }
}