$_selector: 'c-footer';
$_deps: 'u-align-left', 'u-list-inline';

@include exports($_selector, $_deps) {
  padding: 20px;
  background-color: black;
  color: white;
}

@import '../utilities/alignments';
@import '../utilities/list';