$_selector: 'c-footer';

@include exports($_selector) {
  @include add-dependencies(
    'u-align-left',
    'u-list-inline'
  );

  padding: 20px;
  background-color: black;
  color: white;
}

/* COMPONENT FOOTER > LIST DEPENDENCIES
///>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
*/
@import '../utilities/alignments';
@import '../utilities/list';
/* COMPONENT FOOTER > END LIST DEPENDENCIES
///<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
*/