@include exports('c-header', ('o-box', 'c-button')) {
  @extend %u-align-left;
  background: red;
  color: white;

  @media screen and (min-width: 600px) {
    background: white;
    color: black;

    & > li {
      text-decoration: none;
    }
  }
}