$_selector: 'c-header';

@include exports($_selector) {
  @include add-dependencies(
    'o-box',
    'c-button', 'c-button--block'
  );

  background: red;
  color: white;
}

/* COMPONENT HEADER > LIST DEPENDENCIES
///>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
*/
@import '../objects/box';
@import 'button';
/* COMPONENT HEADER > END LIST DEPENDENCIES
///<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
*/